<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Genius is one percent inspiration and ninety-nine percent perspiration.

        </h1>

        <h1>Keep your friends close, but your enemies closer.</h1>
        <a href="{% url 'third' %}">third html</a>
        <h1><a href="{% url 'second' %}"> second page</a></h1>
    </center>
   
</body>
</html>